input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 10rem;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.custom-file-upload:hover {
    background: #45a049;
}

button[type="submit"] {
    width: 10rem;
    padding: 10px 20px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
}